html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  margin: 1rem auto 1rem;
  gap: 1rem;
}

.button {
  font-size: 1.25rem;
}

#gridContainer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 0;
}

.gridRow {
  display: flex;
  gap: 0;
}

.square {
  display: flex;
  background-color: rgb(192, 216, 228);
}