html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 1rem auto 1rem;
  gap: 1rem;
}

.button {
  font-size: 1.25rem;
}

#gridContainer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 0;
  border-style: solid;
  border-width: 8px;
  border-color: rgb(197, 197, 197);
  border-radius: 8px;
}

.gridRow {
  display: flex;
  gap: 0;
}

.square {
  display: flex;
  background-color: white;
}

.activeStyle {
  background-color: green;
}

.disabledStyle {
  background-color: gray;
}