html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 1rem auto 1rem;
}

.button {
  font-size: 1.25rem;
}

#gridContainer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.gridRow {
  display: flex;
}

.square {
  display: flex;
  flex-grow: 1;
  background-color: rgb(143, 180, 202);
  border-style: solid;
  border-width: 4px;
  border-color: white;
}